{% extends 'base.html.twig' %}


{% block body %}
    <div class="container">
        <h2 class="text-center mt-5 mb-3">Edit</h2>
        <div class="card">
            <div class="card-header">
                <a class="btn btn-outline-info float-right" href="{{ path('app_crud_index') }}">
                    All
                </a>
            </div>
            <div class="card-body">
                {% include 'crud/form.html.twig' with {'button_label': 'Update Project', 'button_color': 'btn-outline-success'}  %}
            </div>
        </div>
    </div>
{% endblock %}
